/*---- Navigation Section------ */
.top-navigation {
    position: fixed;
    width: 100%;
    background-color: #fff;
}
.top-navigation > .content {
    width: 970px;
    height: 70px;
    margin: 0 auto;
}

.top-navigation .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 16px;
    margin-top: 25px;
    -webkit-font-smoothing: antialiased;
}
.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
}
.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}

/* ----Content Section---- */

.hero_wrap {
    background-image: url(http://i173.photobucket.com/albums/w79/Luke_Bucciarelli/KW8UftFosyCQF7X9rgCZFn7FVHUwtxuM6S4d-wOzxEc_zpsyyo2hrjm.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 300px 0;

}

.hero {
    	text-align: center;
    	font-family:'Roboto', sans-serif;
    	font-size: 150%;
        font-weight: 100%;
        color: #A7A7A7;

}

button {
    background-color: #FF9900;
    border: 4px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    margin: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;

}


/* --- Main ---- */

.main {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 50%;
}

.main__subtitle {
    margin: 100px 0 50px;
    font-size: 40px;
    font-weight: 50%;
}

.main__icon-list {
    list-style: none;
}

.main__icon-list__item {
    display: inline-block;
    padding: 50px 30px;
}

.main__icon-list__item img {
    width: 120px;
    padding:  10px 20px
}

.main__icon-list__item span {
    display: block;

}

.span {
    padding: 50px 0;
}


/* --- Footer --- */ 















}